{% load static %}
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'foundation/js/vendor/foundation.min.js' %}"></script>
<script src="{% static 'heatmap/build/heatmap.min.js' %}"></script>
<script src="{% static 'leaflet-heatmap.min.js' %}"></script>
<script src="{% static 'loading-bar.js' %}"></script>

<link href="{% static 'foundation/css/foundation.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'heat_map.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'loading-bar.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet" type="text/css"/>

<body>

    <div class="row align-middle">
        <div class="large-2 columns">
             <fieldset class="fieldset">
        <legend>Heat Map Controls</legend>
        <div class="row">
            <div class="small-6 columns">
                <div class="switch large radius">
                    <input class="switch-input" id="ipv4" type="checkbox" checked>
                    <label class="switch-paddle" for="ipv4"></label>
                    <label for="ipv4">IPV4 Locations</label>
                </div>
            </div>
            <div class="small-6 columns">
                <div class="switch large radius">
                    <input class="switch-input" id="ipv6" type="checkbox">
                    <label class="switch-paddle" for="ipv6"></label>
                    <label for="ipv6">IPV6 Locations</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-5 columns">
                <div class="switch large radius">
                    <input class="switch-input" id="cluster" type="checkbox">
                    <label class="switch-paddle" for="cluster"></label>
                    <label for="cluster">By Cluster</label>
                </div>

            </div>
            <div class="small-7 columns">
                <button type="button" onclick="resetMap()" class="button"><i class="fas fa-redo"></i> Reset Map</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="small-12 columns">
                <div class="slider" data-slider data-initial-start=".5" data-step=".01" data-end="2">
                    <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="radius"></span>
                    <span class="slider-fill" data-slider-fill></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">

                    <input type="number" id="radius">
                    <label for="radius">Cluster Radius</label>

            </div>
            <div class="small-7 columns small-offset-3">
                <button type="button" id="setRadius" onclick="changeRadius()" class="button"><i class="fas fa-arrow-circle-up"></i> Update</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="small-12 columns">
                <h6>Center on Coordinates</h6>
                <input type="number" id="latitude">
                <label for="latitude">Latitude</label>
                <input type="number" id="longitude">
                <label for="longitude">Longitude</label>
            </div>
            <div class="small-7 columns small-offset-3">
                <button type="button" id="setCenter" onclick="recenterMap()" class="button"><i class="fas fa-map-marker"></i> Set Center</button>
            </div>
        </div>
        </fieldset>
        </div>
        <div class="large-10 columns">
            <div class="row align-center">
                <div class="medium-4 columns">
                    <h4>Heat Map Loading Progress</h4>
                    <div class="ldBar label-center" data-preset="line" data-value="10" style="width:100%;height:60px"></div>
                </div>
            </div>
            <div class="row align-center">
                <div class="large-12 columns">
                    <div id="mapid"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="badCoordinates" class="reveal" data-reveal>
      <h2 id="modalTitle">Invalid Coordinates</h2>
      <p class="lead">The coordinates you've entered are invalid.</p>
      <p>You must enter a latitude between -90 and 90 and a longitude between -180 and 180.</p>
       <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
</body>

<script type="text/javascript">
    $(document).foundation();
    var baseLayer = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/emerald-v8/tiles/{z}/{x}/{y}?access_token={{ accessToken }}', {
        tileSize: 512,
        maxZoom: 11,
        minZoom: 3,
        zoomOffset: -1,
        attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        accessToken: "{{ accessToken }}"
    })
    $('#mapid').css("height", $(window).height() - 450);
    console.log($(window).height());

    var cfg = {
        // radius should be small ONLY if scaleRadius is true (or small radius is intended)
        // if scaleRadius is false it will be the constant radius used in pixels
        "radius": .5,
        "maxOpacity": .8,
        // scales the radius based on map zoom
        "scaleRadius": true,
        // if set to false the heatmap uses the global maximum for colorization
        // if activated: uses the data maximum within the current map boundaries
        //   (there will always be a red spot with useLocalExtremas true)
        "useLocalExtrema": false,
        // which field name in your data represents the latitude - default "lat"
        latField: 'latitude',
        // which field name in your data represents the longitude - default "lng"
        lngField: 'longitude',
        // which field name in your data represents the data value - default "value"
        valueField: 'ipv4'
    };

    if (sessionStorage.getItem('useExtrema') == 't') {
        cfg['useLocalExtrema'] = true;
        cfg['radius'] = .1;
        $('#radius').val(.1);
        var mySlider = new Foundation.Slider($(".slider"), {initialStart: 0.1, initialEnd: 2, step: 0.05});
        $('#cluster').prop('checked', true);
    }

    var zoom = 8;
    if (sessionStorage.getItem('zoom') != undefined) {
        zoom = parseInt(sessionStorage.getItem('zoom'));
    }

    var heatmapLayer = new HeatmapOverlay(cfg);

    var heatMap = new L.map('mapid', {
        center : new L.LatLng(35.833219, -78.896564),
        zoom: zoom,
        maxBoundsViscosity: 1.0,
        layers: [baseLayer, heatmapLayer]
    })

    var ipv4 = true;
    var ipv4Max = 0;
    var ipv6 = false;
    var ipv4List = [];
    var ipv6List = [];
    var currentUpLat = 0;
    var currentLowLat = 0;
    var currentUpLong = 0;
    var currentLowLong = 0;
    var totalRequest = 0;
    var maxRequest = 0;
    var maxNorthEast = L.latLng(90, 180);
    var maxSouthWest = L.latLng(-90, -180);
    var maxBounds = L.latLngBounds(maxSouthWest, maxNorthEast);
    var recenter = false;
    heatMap.setMaxBounds(maxBounds);
    heatMap.on('drag', function() {
        heatMap.panInsideBounds(maxBounds, {animate: false});
    });

    

    function setIntialBounds(bounds) {
        currentUpLat = bounds.getNorthEast().lat;
        currentLowLat = bounds.getSouthWest().lat;
        currentUpLong = bounds.getNorthEast().lng;
        currentLowLong = bounds.getSouthWest().lng;
        getIpv([currentUpLat, currentLowLat, currentUpLong, currentLowLong]);
        expandBounds();
    }

    function expandBounds() {
        for (dir of ['s', 'e', 'n', 'w']) {
            var mapBounds = heatMap.getBounds();
            var newBounds = [];
            switch(dir) {
                case 's':
                    if (mapBounds.getSouthWest().lat > currentLowLat + 2){
                        break;
                    }
                    newBounds.push(currentLowLat);
                    newBounds.push(currentLowLat - 3);
                    newBounds.push(currentUpLong);
                    newBounds.push(currentLowLong);
                    currentLowLat = currentLowLat - 3;
                    break;
                case 'e':
                    if (mapBounds.getNorthEast().lng < currentUpLong - 4){
                        break;
                    }
                    newBounds.push(currentUpLat);
                    newBounds.push(currentLowLat);
                    newBounds.push(currentUpLong + 5);
                    newBounds.push(currentUpLong);
                    currentUpLong = currentUpLong + 5;
                    break;
                case 'n':
                    if (mapBounds.getNorthEast().lat < currentUpLat - 2){
                        break;
                    }
                    newBounds.push(currentUpLat + 3);
                    newBounds.push(currentUpLat);
                    newBounds.push(currentUpLong);
                    newBounds.push(currentLowLong);
                    currentUpLat = currentUpLat + 3;
                    break;
                case 'w':
                    if (mapBounds.getSouthWest().lng > currentLowLong + 4){
                        break;
                    }
                    newBounds.push(currentUpLat);
                    newBounds.push(currentLowLat);
                    newBounds.push(currentLowLong);
                    newBounds.push(currentLowLong - 5);
                    currentLowLong = currentLowLong - 5;
                    break;
                default:
                    return;
            }
            if (newBounds.length > 0) {
                getIpv(newBounds);
            }
        }
        if (!checkBounds()) {
            expandBounds();
        }
    }

    function getIpv(bounds) {
        ++totalRequest;
        if (totalRequest > maxRequest) {
            maxRequest = totalRequest;
        }
        console.log(totalRequest);
        var upperLat = bounds[0],
        lowerLat = bounds[1],
        upperLong = bounds[2],
        lowerLong = bounds[3];
        $.ajax({
            url:"/api/ipv",
            type: "get",
            data: {
                upper_lat: upperLat,
                lower_lat: lowerLat,
                lower_long: lowerLong,
                upper_long: upperLong

            },
            success: function(response) {
                console.log(response);
                processResponse(response);
                --totalRequest;

            },
            error: function(error) {
                --totalRequest;
                console.log(error.toString())
            }
        })
    }

    function processResponse(response) {
        var types = ['ipv4', 'ipv6', 'combined']
        for (var location of response) {
            for (var type of types) {
                switch(type) {
                    case 'ipv4':
                        if (location[type] > ipv4Max) {
                            ipv4Max = location[type]
                        }
                        checkAndAdd(
                            {
                                latitude: location['latitude'],
                                longitude: location['longitude'],
                                count: location[type]
                            },
                            ipv4List
                        )
                        break;
                    case 'ipv6':
                        if (location[type] > 0) {
                            checkAndAdd(
                            {
                                latitude: location['latitude'],
                                longitude: location['longitude'],
                                count: location[type]
                            },
                            ipv6List
                        )
                        }
                        break;
                    default:
                        break;

                }
            }
        }
        drawHeat();
    }

    function checkAndAdd(loc, typeList) {
        if (typeList.some(e => e.longitude == loc['longitude']) && typeList.some(e => e.latitude == loc['latitude'])) {
            return
        } else {
            typeList.push(loc)
        }
    }

    function drawHeat() {
        var mapData = {
            min: 1,
            max: ipv4Max/2,
            data: ipv4List
        }

        if (ipv6) {
            mapData['data'] = ipv6List
        } else if(!ipv4 && !ipv6) {
            mapData['data'] = []
        }
        heatmapLayer.setData(mapData);
        console.log(((maxRequest - totalRequest) / maxRequest) * 100);
        console.log(maxRequest);
        console.log(totalRequest);
        adjustLoading();
    }

    function adjustLoading() {
        if(totalRequest < 0 || $.active == 0) {
            totalRequest = 0;
        }
        if ($('.ldBar').get(0).ldBar != undefined) {
            $('.ldBar').get(0).ldBar.set(((maxRequest - totalRequest) / maxRequest) * 100);
        }
    }

    $(document).ready( function() {
        setIntialBounds(heatMap.getBounds());
    });

    $(document).ajaxStop( function() {
        totalRequest = 0;
        adjustLoading();
    });

    heatMap.on('moveend', function(e) {
        if (recenter) {
            recenter = false;
        } else {
            expandBounds();
            sessionStorage.setItem("zoom", heatMap.getZoom().toString())
        }
    });

    function checkBounds() {
        var check = heatMap.getBounds();
        var up_lat = check.getNorthEast().lat,
        lowLat = check.getSouthWest().lat,
        upLong = check.getNorthEast().lng,
        lowLong = check.getSouthWest().lng;
        return up_lat < currentUpLat - 2 && lowLat > currentLowLat - 2 && upLong < currentUpLong - 4 && lowLong > currentLowLong - 4;
    }

    $('#ipv4').change(
        function() {
            if (this.checked) {
                ipv4 = true;
                ipv6 = false;
                $('#ipv6').prop('checked', false);
            } else {
                ipv4 = false;
            }
            drawHeat();
        }
    )
    $('#ipv6').change(
        function() {
            if (this.checked) {
                ipv6 = true;
                ipv4 = false;
                $("#ipv4").prop('checked', false);
            } else {
                ipv6 = false;
            }
            drawHeat();
        }
    )
    $('#cluster').change(
        function() {
            if (this.checked) {
                sessionStorage.setItem('useExtrema', 't');
            } else {
                sessionStorage.setItem('useExtrema', 'n');
            }
            location.reload(true);
        }
    )

    function changeRadius() {
        cfg['radius'] = $('#radius').val()
        heatmapLayer.reconfigure(cfg);
    }

    function recenterMap() {
        var centerLat = $('#latitude').val();
        var centerLong = $('#longitude').val();
        console.log(centerLat);
        console.log(centerLong);
        if (90 <= centerLat || centerLat <= -90 || 180 <= centerLong || centerLong <= -180) {
            $('#badCoordinates').foundation('open');
        } else {
            recenter = true;
            heatMap.panTo(new L.LatLng(centerLat, centerLong));
            setIntialBounds(heatMap.getBounds());
        }
    }

    function resetMap() {
        sessionStorage.removeItem("zoom");
        sessionStorage.removeItem("useExtrema");
        location.reload(true);
    }

    function checkLoading() {
        adjustLoading();
        setTimeout(checkLoading, 2000);
    }
    checkLoading();

</script>